$primaryColor: #08a2e9;
$darkShade: #087ce9;

// NON PHONE VIEW

@mixin nav-alignment{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 20px;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

@mixin SignupButton{
    transition: all 0.6s ease;
    margin: 0;
    border: 1px solid #fff;
    height: 40px;
    width: 150px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 20px;
    background: $primaryColor;
    color: #fff;
    cursor: pointer;
}

@mixin darkShade {
    transition: all 0.6s ease;
    background: $darkShade;
}

.nav-bar{
    position: fixed;
    height: 80px;
    padding: 1%;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;

    h2{
        padding-top: 5px;
        font-size: 30px;
    }

    h2:hover{
        cursor: pointer;
    }

    ul{
        @include nav-alignment();
        li{
            list-style: none;
            list-style-type: none;
            color: #000;
            margin-right: 5px;
            margin-top: 6px;
            padding: 10px;
        }

        #welcome{
            border-radius: 4px;
            background-color: #eee;
        }

        li:hover{
            border: 1px solid none;
            background-color: #eee;
            padding: 10px;
            border-radius: 4px;
        }

        #signup-button{
            @include SignupButton();
        }

        #signup-button:hover{
            @include darkShade();
        }
    }
}