@media(min-width: 1440px){
    #login-container{
        margin-top: 150px;
        color: #fff;
        background: #000;
        margin-left: 650px;
        border-radius: 10px;
        height: 540px;
        width: 30%;
        text-align: center;
    }
}

@media(min-width: 1024px){
    #login-container{
        margin-top: 100px;
        color: #fff;
        background: #000;
        margin-left: 140px;
        border-radius: 10px;
        height: 440px;
        width: 80%;
        text-align: center;
    }
}

@media(min-width:  1920px){
    #login-container{
        margin-top: 100px;
        color: #fff;
        background: #000;
        margin-left: 380px;
        border-radius: 10px;
        height: 440px;
        width: 59%;
        text-align: center;
    }
}

@media(max-width: 600px){
    
}