.packscreen{
    .packscreen_upload{
        margin-top: 100px;
        color: #000;
        margin-left: 140px;
        border-radius: 10px;
        height: 460px;
        width: 80%;
        text-align: center;
    }
}