$primaryColor: #08a2e9;
$darkShade: #087ce9;

// BIG SCREEN

@media(min-width:  1920px){
    .container{
        height: 800px;
    }

    #label{
        text-align: left;
    }

    #top-input{
        height: 50px;
        margin-top: 20px;
    }

    #input{
        height: 50px;
    }

    #liner{
        color: #fff;
        background: #fff;
        height: 5px;
    }

    #login-button{
        transition: all 0.6s ease;
        margin-top: 30px;
        width: 550px;
        border: none;
        color: #fff;
        border-radius: 10px;
        height: 40px;
        background: $primaryColor;
    }

    #login-button:hover{
        transition: all 0.6s ease;
        background: $darkShade;
    }
}

// LAPTOP VIEW

@media(min-width: 1024px){
    .container{
        margin-top: 50px;
    }

    #title{
        color: #fff;
        font-size: 50px;
    }

    #liner{
        color: #fff;
        background: #fff;
        height: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #top-input{
        height: 50px;
    }

    #input{
        height: 50px;
    }

    #login-button{
        transition: all 0.6s ease;
        margin-top: 30px;
        width: 550px;
        border: none;
        color: #fff;
        border-radius: 10px;
        height: 40px;
        background: $primaryColor;
    }

    .membership{
        border: 1px solid #fff;
        background-color: #fff;
        border-radius: 10px;
        padding: 10px;
        color: #000;
    }

    #login-button:hover{
        transition: all 0.6s ease;
        background: $darkShade;
    }
}

