@media(min-width: 1440px){
    #signup-container{
        margin-top: 100px;
        color: #000;
        background: #fff;
        margin-left: 650px;
        justify-content: center;
        box-shadow: 0 5px 50px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        height: 500px;
        width: 33.5%;
        text-align: center;
    }
}

@media(min-width: 1024px){
    #signup-container{
        margin-top: 100px;
        color: #000;
        background: #fff;
        margin-left: 350px;
        justify-content: center;
        box-shadow: 0 5px 50px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        height: 500px;
        width: 47.5%;
        text-align: center;
    }
}

@media(min-width:  1920px){
    #signup-container{
        margin-top: 150px;
        color: #000;
        background: #fff;
        margin-left: 31%;
        justify-content: center;
        box-shadow: 0 5px 50px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        height: 530px;
        width: 33.5%;
        text-align: center;
    }
}

@media(max-width: 600px){
    
}