// PHONE VIEW
.phone-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 3px;

    .phone-card-1{
        border: 1px solid grey;
        border-radius: 4px;
        color: #000;
        margin-bottom: 10px;
        width: 300px;

        #liner{
            color: #fff;
            border-radius: 3px;
            margin-top: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            background: grey;
            height: 10px;
            width: 100%;
        }

        #phone-plan-button{
            border: 1px solid grey;
            background: #fff;
            margin-top: 100%;
            border-radius: 3px;
            margin-bottom: 50px;
            width: 80%;
            cursor: pointer;
            padding: 10px;
        }
    }

    .phone-card-2{
        border: 1px solid grey;
        border-radius: 4px;
        color: #000;
        margin-bottom: 10px;
        width: 300px;

        #phone-plan-button{
            border: 1px solid green;
            background: green;
            color: #fff;
            margin-top: 100%;
            border-radius: 3px;
            margin-bottom: 50px;
            width: 80%;
            cursor: pointer;
            padding: 10px;
        }

        #liner{
            color: #fff;
            border-radius: 3px;
            margin-top: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            background: green;
            height: 10px;
            width: 100%;
            margin-top: 0;
        }
    }

    .phone-card-3{
        border: 1px solid grey;
        border-radius: 4px;
        color: #000;
        margin-bottom: 10px;
        width: 300px;

        #phone-plan-button{
            border: 1px solid black;
            background: black;
            color: #fff;
            margin-top: 100%;
            border-radius: 3px;
            margin-bottom: 50px;
            width: 80%;
            cursor: pointer;
            padding: 10px;
        }

        #liner{
            color: #fff;
            border-radius: 3px;
            margin-top: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            background: black;
            height: 10px;
            width: 100%;
            margin-top: 0;
        }
    }
}

// NON-PHONE VIEW

.container{
    display: flex;
    flex-direction: row;
    color: #000;
    height: 500px;
    width: 280%;

    .card-1{
        border: 1px solid grey;
        border-radius: 4px;
        margin-right: 10px;
        width: 33%;

        #plan-button{
            border: 1px solid grey;
            background: #fff;
            margin-top: 100%;
            border-radius: 3px;
            width: 80%;
            cursor: pointer;
            padding: 10px;
        }

        #liner{
            color: #fff;
            border-radius: 3px;
            margin-top: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            background: grey;
            height: 10px;
            width: 100%;
        }
    }

    .card-2{
        border: 1px solid grey;
        margin-right: 10px;
        border-radius: 4px;
        width: 35%;

        #plan-button{
            border: 1px solid green;
            background: green;
            margin-top: 94%;
            color: #fff;
            border-radius: 3px;
            width: 80%;
            cursor: pointer;
            padding: 10px;
        }

        #liner{
            color: #fff;
            border-radius: 3px;
            margin-top: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            background: green;
            height: 10px;
            width: 100%;
        }
    }

    .card-3{
        border: 1px solid grey;
        border-radius: 4px;
        width: 35%;

        #plan-button{
            border: 1px solid #000;
            background: black;
            margin-top: 94%;
            color: #fff;
            border-radius: 3px;
            width: 80%;
            padding: 10px;
            cursor: pointer;
        }

        #liner{
            color: #fff;
            border-radius: 3px;
            margin-top: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            background: black;
            height: 10px;
            width: 100%;
        }
    }
} 