$dark: #0f0f0f;

.usersettings{
    display: flex;
    .usersettings_sidebar{
        margin-top: 100px;
        background-color: $dark;
        color: #fff;
        text-align: center;
        height: 100vh;
        flex: 0.25;
    }

    .usersettings_sidebar > div{
        margin: 5px;
        display: flex;
        flex-direction: column;
    }

    .usersettings_sidebar > hr{
        background: #fff;
        height: 3px;
    }

    .usersettings_main{
        margin-top: 60px;
        background-color: #eee;
        flex: 0.75;
        height: 100vh;
    }
}